<footer class="footer">
  <div class="footer-content">

    <div class="footer-brand">
      <!-- <img src="assets/logo.png" alt="Church Logo" class="logo" /> -->
       <h3 class="name">ACK St James Koromosho</h3>
       <p class="tagline">A Christ-centered community of faith and service</p>
    </div>

    <div class="footer-links">
      <h4>Quick Links</h4>
      <a routerLink="/home">Home</a>
      <a routerLink="/about">About</a>
      <a routerLink="/ministries">Ministries</a>
      <a routerLink="/sermons">Sermons</a>
      <a routerLink="/contact">Contact</a>
    </div>

    <div class="footer-button">
      <p>© {{ currentYear }} ACK St James Koromosho. All rights reserved.</p>
    </div>

  </div>
</footer>