<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-button>ACK St James Koromosho</ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button routerLink="/main/home" routerLinkActive="active-link" >Home</ion-button>
      <ion-button routerLink="/main/about" routerLinkActive="active-link">About</ion-button>
      <ion-button routerLink="/main/ministries" routerLinkActive="active-link">Ministries</ion-button>
      <ion-button routerLink="/main/sermons" routerLinkActive="active-link">Sermons</ion-button>
      <ion-button routerLink="/main/contact" routerLinkActive="active-link">Contact</ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>



