<!-- <ion-header class="navbar">
  <ion-toolbar>

    <div class="nav-left">
      <img src="assets/logo.png" alt="Church Logo" class="logo" />
      <span class="title">ACK St James Koromosho</span>
    </div>

    <div class="nav-links desktop">
      <a routerLink="/main/home" routerLinkActive="active">Home</a>
      <a routerLink="/main/about" routerLinkActive="active">About</a>
      <a routerLink="/main/ministries" routerLinkActive="active">Ministries</a>
      <a routerLink="/main/sermons" routerLinkActive="active">Sermons</a>
      <a routerLink="/main/contact" routerLinkActive="active">Contact</a>
    </div>

    <ion-buttons slot="end" class="mobile">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header> -->

<ion-header class="navbar">
  <ion-toolbar color="secondary">
    <ion-buttons>
      <ion-button>
        <ion-title> ACK St James Koromosho </ion-title>
      </ion-button>
    </ion-buttons>



  </ion-toolbar>
</ion-header>
